body{
    background-color:#0d5844;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}


input[type=checkbox] {
    accent-color: magenta;
  }
  
  input[type=radio] {
    accent-color: yellow;
  }
  
  input[type=range] {
    accent-color: rgb(0, 0, 255);
  }
  
  progress {
    accent-color: rgb(65, 235, 181);
  }
  #main {
    width: 210px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }
  
  #main div {
    width: 70px;
    height: 90px;
  }

  #main-items {
    width: 180px;
    height: 190px;
    border: 1px solid black; 
    display: flex;
    align-items: baseline;
  }
  
  #main-items div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
  }
  .ball-container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }
  
  .ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  animation: bounce 1s infinite alternate;
  animation-delay: 3s;
  position: relative;
  margin: auto;
  }
  
  @keyframes bounce {
    from {
      background-color: green;
      transform: translateY(0);
    }
    to {
      background-color: blue;
      transform: translateY(-100px);
    }
   
  }
  div.background {
    background: lightblue url(./images/lp.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
  }
  
  div.transbox {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    padding: 175px;
    margin: 2000px;
    font-weight: bold;
    color:black;
    flex-wrap: wrap;
  }
  .sroll-box {
    position: absolute;
    width: 800px;
  }
  
  .scroll-box-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height:700px;
    background-size:contain;
    background-image: url('./images/iniesta.jpg');
    background-attachment:fixed;
  }
  
  .scroll-box-content {
    padding: 20px;
    color: white;
    text-align: center;
    opacity: 0.8;
    overflow: scroll;
  }
    
  